<ion-tabs class="tabs-icon-top tabs-color-active-positive" >
  <ion-tab icon="icon-shouyeshouye" title="首页" ui-sref="tab.shouye">
    <ion-nav-view name="shouye">

    </ion-nav-view>
  </ion-tab>
  <ion-tab icon="icon-fenlei" title="游戏分类" ui-sref="tab.fenlei">
    <ion-nav-view name="fenlei">

    </ion-nav-view>
  </ion-tab>
  <ion-tab icon="icon-94" title="BT网游" ui-sref="tab.wangyou">
    <ion-nav-view name="wangyou">

    </ion-nav-view>
  </ion-tab>

  <ion-tab icon="icon-wode" title="我的" ui-sref="tab.wode">
    <ion-nav-view name="wode">

    </ion-nav-view>
  </ion-tab>
</ion-tabs>
